<p>
  user-form works!
</p>


<form [formGroup]="userForm" novalidate>
  <mat-card>
    <mat-card-title>id: {{user.id}}</mat-card-title>
    <mat-card-content class="form-group">
      <mat-form-field>
        <input formControlName="name" matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="username" matInput placeholder="Username">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="phone" matInput placeholder="Telephone">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</form>


<p>Form value: {{ userForm.value | json }}</p>
<p>Form status: {{ userForm.status | json }}</p>
<p>Name value: {{ userForm.get('name').value }}</p>
<p>Name status: {{ userForm.get('name').status }}</p>
<p>Name pristine: {{ userForm.get('name').pristine }}</p>
<p>Name untouched: {{ userForm.get('name').untouched }}</p>


