/* You can add global styles to this file, and also import other style files */
@import "assets/css/bootstrap.min.css";
@import "assets/css/font-awesome.css";
@import "assets/css/indigo-pink.css";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  height: 59px;
}

.container {
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;

}
